*{
	margin: 0;
	padding: 0;
}

nav {
  overflow: hidden;
  background-color: #ffffff;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ffffff;
}

.active {
  background-color: #d2d4d2;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.kcell{
  font-family: Arial, Helvetica, sans-serif;

}

.action{
background-color: #d2d4d2;
font-family: Arial, Helvetica, sans-serif;
}

.arkage{
  background-color: #d2d4d2;
}

nav .search-container {
  float: right;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #5b5c5b;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: #ffffff;
}

@media screen and (max-width: 600px) {
  nav .search-container {
    float: none;
  }
  nav a, nav input[type=text], nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  nav input[type=text] {
    border: 1px solid #ffffff;  
  }
}
.logo{
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #fef200;;
}
.img{
  width: 200px;
}
.poisk{
  margin-left: 80px;
  margin-right: 80px;
}

.blockleft{
	background-color: #ffffffa6;
	color: white;
	width: 400px;
	height: 700px;
	float: left;
  margin-left: 80px;
}

.phone1{
  height: 350px;
  width: 350px;
}
.apple{
  font-family: Arial, Helvetica, sans-serif;
}
.price1{
  font-family: Arial, Helvetica, sans-serif;
}

.button1{
  background-color: #fef200;
  border: none;
  color: #000000c4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer
}

.blockright{
	background-color: #ffffffa6;
	color: white;
	width: 400px;
	height: 700px;
	float: right;
  margin-right: 80px;
}

.game{
height: 350px;
}

.center{
	background-color: #efefef;
	height: 700px;
  margin-left: 480px;
  margin-right: 480px;
}
.phone2{
width: 350px
}

.footer{
	background-color: #fef200;
	color: red;
	width: auto;
	height: 60px;
  margin-left: 80px;
  margin-right: 80px;
}
.hhh{
width:100%;
top:50%;
text-align:center;

}

.text{
  font-family: Arial, Helvetica, sans-serif;
}



.zaq{
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }

  #charact{
    text-align:left;
    text-transform: bold;
    margin: 10px; 
    color: #000;
    font-family: Arial, Helvetica, sans-serif;


    overflow: scroll;
    width: 260px;
    height: 147px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
}

    #charact::-webkit-scrollbar { width: 5px; height: 5px;}
    #charact::-webkit-scrollbar-track-piece { background-color: white;}
    #charact::-webkit-scrollbar-thumb { height: 50px; background-color:  #fef200; border-radius: 5px;}

 #charact2{
    text-align:left;
    text-transform: bold;
    margin: 10px; 
    color: #000;
    font-family: Arial, Helvetica, sans-serif;


    overflow: scroll;
    width: 260px;
    height: 147px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
}

    #charact2::-webkit-scrollbar { width: 5px; height: 5px;}
    #charact2::-webkit-scrollbar-track-piece { background-color: #efefef;}
    #charact2::-webkit-scrollbar-thumb { height: 50px; background-color:  #fef200; border-radius: 5px;}